@import "src/variables";

.demo {
	background: $color-brand-primary;
	font-family: $font-family-monospace;

	& > * {
		background: lighten($color-brand-primary, 25%);
		margin: .5em;
		text-align: center;
		padding: .5em;

		.cell {
			background: lighten($color-brand-primary, 50%);
			margin: .5em;
			text-align: center;
			padding: .5em;
		}
	}
}
