@import "src/variables";

.demo {	
	& > * {
		background: $color-gray-lighter;
		margin: .5em;
		text-align: center;
		padding: .5em;

		.cell {
			background: #fff;
			margin: .5em;
			text-align: center;
			padding: .5em;
		}
	}
}
