.demo {
  background: #2980b9;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.demo > * {
  background: #7fbbe3;
  margin: .5em;
  text-align: center;
  padding: .5em;
}

.demo > * .cell {
  background: #e7f2fa;
  margin: .5em;
  text-align: center;
  padding: .5em;
}
