// Headings
%demo-heading {
  margin: 0;
}

@for $i from 1 through 6 {
  h#{$i}.demo {
    @extend %demo-heading;
  }
}

// Example cards
.example {
  margin: 1em 0;

  .output,
  pre {
    border: 1px solid #adadad;
    margin: 0;
  }

  .output {
    padding: 1rem;
  }

  > :not(:first-child) {
    border-top: 0;
  }
}

// Visible / Hidden demo
%demoresponsiveness {
  border: 1px solid;
  margin: 1em;
  text-align: center;
  overflow: hidden;
}

.demo-visible {
  @extend %demoresponsiveness;
  background: fade-out(#27ae60, .7);
  border-color: #27ae60;
}

.demo-hidden {
  @extend %demoresponsiveness;
  background: fade-out(#c0392b, .7);
  border-color: #c0392b;
}
