//
// Forms
// -----------------------------------------------------------------------------


// Basic input elements
// -----------------------------------------------------------------------------

input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'] {
  background: #fff;
  border: 1px solid $color-gray-light;
  margin: .25em;
  padding: .5em;
  text-overflow: ellipsis;
  width: 15em;

  @extend %fix-ios-inputs;

  &::placeholder {
    color: $color-gray-light;
  }

  &.form-control {
    width: 100%;
  }
}


// Radio- and checkboxes
// -----------------------------------------------------------------------------

// TODO(matthisgi): Cleanup the code a bit

// Common styling
.checkbox,
.radio {
  display: inline-block;
  margin: .25em;
  position: relative;

  // Hide actual input and redirect functionality
  input[type=checkbox],
  input[type=radio] {

    // "Hack" (?) to make boxes focusable
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    @extend %fix-ios-inputs;

    &[disabled],
    .disabled {
      + label {
        @extend .disabled;
      }
    }

    &:focus,
    &:active {
      outline: 0;

      + label {
        outline: 5px auto $color-brand-primary;
      }
    }

    &:checked + label::before {
      background-color: $color-brand-primary;
      border-color: darken($color-brand-primary, 10%);
    }
  }

  label {
    cursor: pointer;
    display: inline-block;

    // Input replacement
    &::before {
      border: 1px solid $color-gray-light;
      box-shadow: inset 0 0 0 3px #fff;
      content: "";
      display: inline-block;
      height: 1.2em;
      margin-right: .5em;
      transition: #{$animation-spec};
      transition-property: background-color, border-color;
      vertical-align: text-bottom;
      width: 1.2em;
    }

    @include hover {
      &::before {
        background-color: $color-gray-light;
      }
    }
  }
}

// Make radio round
.radio label::before {
  border-radius: 50%;
}


// Form elements
// -----------------------------------------------------------------------------

// Element grouping
.form-group {
  display: block;
  margin: .25em 0;

  label{
    font-weight: bold;
    display: block;
  }

  input,
  .checkbox,
  .radio {
    margin: 0;
  }
}

// Aligning elements in grid-like structure
@media (min-width: $form-responsive-breakpoint) {
  .form-aligned .form-group {

    > label {
      display: inline-block;
      padding-right: .5em;
      text-align: right;
      width: 10em;
    }

    > input {
      display: inline-block;

      &.form-control {
        width: calc(100% - 10em);
      }
    }

    > .checkbox,
    > .radio {
      margin-left: 10em;
    }
  }
}


// Fieldsets
// -----------------------------------------------------------------------------

fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  legend {
    border-bottom: 1px solid $color-gray-light;
    display: block;
    font-size: 1.1em;
    margin-bottom: 1em;
    padding: .25em 0;
    width: 100%;
  }
}
