//
// Module: Grid
// -----------------------------------------------------------------------------

// Basic cell mixin
@mixin grid-cell {
	position: relative;
	padding: $grid-gutter / 2;
	box-sizing: border-box;
	flex: none;
	width: 100%;
}

.grid {
	
	// Container style
	display: flex;
	flex-flow: row wrap;
	
	&.grid-top {
		align-items: flex-start;
	}

	&.grid-center {
		align-items: center;
	}

	&.grid-bottom {
		align-items: flex-end;
	}


	// Cell format
	@each $size in "xs" $screen-xs, "sm" $screen-sm, "md" $screen-md, "lg" $screen-lg {
	
		.cell-#{nth($size, 1)} {
			@include grid-cell;
		}

		@each $width in $grid-widths {
			.cell-#{nth($size, 1)}-#{$width} {
				@include grid-cell;
			}
		}

		@media (min-width: #{nth($size, 2)}) {
			
			.cell-#{nth($size, 1)} {
				flex: 1;
			}

			@each $width in $grid-widths {
				.cell-#{nth($size, 1)}-#{$width} {
					// Overwrite 100%-rule of mixin
					width: $width * 1% !important;
				}

				// Push
				.cell-#{nth($size, 1)}-push-#{$width} {
					left: $width * 1%;
				}

				// Pull
				.cell-#{nth($size, 1)}-pull-#{$width} {
					right: $width * 1%;
				}
			}

		}

	}

}