//
// Tables
// -----------------------------------------------------------------------------


// Basic table styling
table.table {
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
	
	thead tr:last-child {
		border-bottom: 2px solid $color-gray-lighter;
	}
	
	th {
		font-weight: bold;
	}

	th, td {
		text-align: left;
		padding: $tables-padding;
		border-bottom: 1px solid $color-gray-lighter;
	
		@each $breakpoint in $breakpoints {
			@media(min-width: nth($breakpoint, 2)) {
				padding: $tables-padding * nth($breakpoint, 3);
			}
		}
	}
	
	tr {
		transition: background-color .3s ease-out;
	}

	// Striped table
	&.table-striped tbody tr:nth-child(odd) {
		background: fade-out($color-gray-lighter, .75);
	}

	// Full-bordererd table
	&.table-bordered {
		td, th {
			border: 1px solid $color-gray-lighter;
		}
	}

	// Hover-styles
	&.table-hover tbody tr:hover {
		background: fade-out($color-gray-lighter, .5);
	}

	// Condensed style
	&.table-condensed {
		th, td {
			padding: $tables-padding / 2;
		}
	}
}

// Responsive min-width table
div.table-responsive {
	overflow-x: auto;
	margin-bottom: 1em;
	border: 1px solid $color-gray-lighter;
	
	table.table {
		margin-bottom: 0;
		min-width: $tables-responsive-breakpoint;
		
		tbody tr:last-child {
			border-bottom: none;
			
			td, th {
				border-bottom: none;
			}
		}
		
		td:first-child, th:first-child {
			border-left: none;
		}

		td:last-child, th:last-child {
			border-right: none;
		}
	}
}

// Mixin for colored rows
@mixin tables-colored-rows($class, $color) {
	table.table tr.#{$class} {
		background-color: fade-out($color, .4);
	}
	
	table.table.table-hover tbody tr.#{$class}:hover {
		background-color: fade-out($color, .25);
	}
}

// Applying colored rows
@include tables-colored-rows("active", $color-gray-lighter);
@include tables-colored-rows("primary", $color-brand-primary);
@include tables-colored-rows("success", $color-brand-success);
@include tables-colored-rows("info", $color-brand-info);
@include tables-colored-rows("warning", $color-brand-warning);
@include tables-colored-rows("danger", $color-brand-danger);
@include tables-colored-rows("invert", $color-gray-darker);
table.table tr.invert {
	color: $color-background-font
}
