//
// Various Utilities
// -----------------------------------------------------------------------------


// Floats
// -----------------------------------------------------------------------------

@each $float in "left", "right" {
  .pull-#{$float} {
    float: #{$float};
  }
}


// Containers for fixed layouts
// -----------------------------------------------------------------------------

.container {
  margin: 0 auto;
  padding: 1rem;

  // Responsiveness
  @each $breakpoint in $breakpoints {
    @media (min-width: #{nth($breakpoint, 2)}) {
      width: #{nth($breakpoint, 4)};
    }
  }
}

.card {
  background: $color-card;
  border: 1px solid darken($color-card, 15%);
  margin: 1rem;
  padding: 1rem;
}

// Visibility
// -----------------------------------------------------------------------------

// Responsive
@each $breakpoint in $breakpoints {
  .visible-#{nth($breakpoint, 1)} {
    display: none !important;

    @media(min-width: #{nth($breakpoint, 2)}) {
      display: block !important;
    }
  }

  .hidden-#{nth($breakpoint, 1)} {
    @media(min-width: #{nth($breakpoint, 2)}) {
      display: none !important;
    }
  }
}


// Various
// -----------------------------------------------------------------------------

// Inline elements
.embedded {
  display: inline-block !important;
}

// Disable pointer events on scroll
// (http://www.thecssninja.com/javascript/pointer-events-60fps)
.c-hover-disable,
.c-hover-disable * {
  pointer-events: none !important;
}
