<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% if page.title %}{{ page.title }} - {% endif %}Chaos Fundamentum</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/res/chaos.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/res/demo.min.css">
    <script src="{{ site.baseurl }}/chaos/chaos.js"></script>
    <script src="{{ site.baseurl }}/res/demo.js"></script>
  </head>

  <body>
    <nav class="navbar collapsed" role="navigation" id="navbar-main">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ site.baseurl }}/" class="navbar-brand">Chaos</a>
          <button type="button" class="navbar-toggle" aria-label="Toggle Menu" data-target="#navbar-main" data-action="collapse"><span class="icon"></span></button>
        </div>
        <div class="navbar-collapse">
          {% include menu.html %}
        </div>
      </div>
    </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
