//
// Mixins
// -----------------------------------------------------------------------------

// Creates basic active-style for various ways of "hovering"
@mixin hover {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// Standardise all inputs
%fix-inputs {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  min-height: #{strip($line-height) + .5}em;
}

// Native scroll behaviour on mobile devices
%native-scroll {
  -webkit-overflow-scrolling: touch;
}

// Standardised Outline
// -----------------------------------------------------------------------------

@mixin outline-base($color) {
  box-shadow: 0 0 0 2px $color;
}

@mixin outline($color) {
  &:focus {
    @include outline-base($color);
  }
}

@each $color in $colors{
  %outline-#{nth($color, 1)} {
    @include outline(nth($color, 2));
  }
}
