html {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
}

html, button, input, select, textarea {
	color: $color-text;
}

body {
	background: $color-background;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading-family;
	font-weight: $font-heading-weight;
	line-height: 1.1;
	margin: 0.6em 0;
}

h1 {
	@include heading(3.444);
}

h2 {
	@include heading(2.889);
}

h3 {
	@include heading(2.222);
}

h4 {
	@include heading(1.611);
}

h5 {
	@include heading(1.556);
}

h6 {
	@include heading(1.333);
}

:lang(fr) > q {quotes: "«" "»" "“" "”"}
:lang(de) > q {quotes: "„" "“" "‚" "‘"}
:lang(ja) > q {quotes: "「" "」" "『" "』"}

blockquote {
	margin: 1.5em 1.5em 1.5em 2em;
	padding-left: 1em;
	border-left: 5px solid #222;
	
	cite:before {
		content: "— ";
	}
}