//
// Typography
// -----------------------------------------------------------------------------


// Basic elements
// -----------------------------------------------------------------------------

html {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	
	@each $breakpoint in $breakpoints {
		@media (min-width: #{nth($breakpoint, 2)}) {
			line-height: $line-height * nth($breakpoint, 3);
		}
	}
}

html, button, input, select, textarea {
	color: $color-text;
}

body {
	background: $color-background;
}


// Alignment
// -----------------------------------------------------------------------------

@each $align in "left", "center", "right", "justify" {
	.text-#{$align} {
		text-align: #{$align};
	}
}


// Text colors
// -----------------------------------------------------------------------------

.text-muted {
	color: $color-gray-light;
}


// Headings
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading-family;
	font-weight: $font-heading-weight;
	margin: $font-heading-margin 0;
	
	small {
		color: $color-gray;
		margin-left: 1em;
	}
}

@mixin heading($factor) {

	font-size: $font-size * (round($factor * 1000) / 1000);
	
	@each $breakpoint in $breakpoints {
		@media (min-width: #{nth($breakpoint, 2)}) {
			$margin: $font-heading-margin * nth($breakpoint, 3);
			font-size: $font-size * $factor * nth($breakpoint, 3);
			margin-top: $margin;
			margin-bottom: $margin;
		}
	}
	
	small {
		font-size: $font-size / $factor;
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		@include heading(nth($font-heading-factors, $i));
	}
}


// Quotes
// -----------------------------------------------------------------------------

:lang(fr) > q {quotes: "«" "»" "“" "”"}
:lang(de) > q {quotes: "„" "“" "‚" "‘"}
:lang(ja) > q {quotes: "「" "」" "『" "』"}

blockquote {
	margin: 1.5em 1.5em 1.5em 2em;
	padding-left: 1em;
	border-left: 5px solid $color-gray-darker;
	
	cite:before {
		content: "— ";
	}
}


// Code
// -----------------------------------------------------------------------------

pre {
	background: $color-gray-lighter;
	padding: .5em 1em;
	border: 1px solid $color-gray-light;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
	// Take maximal available height (save kb)
	max-height: $line-pre * $line-height-actual * nth(nth($breakpoints, length($breakpoints)), 3);
}

code, kbd, pre, samp {
    font-family: $font-family-monospace;
    font-size: 1em;
}


// Horizontal rule
// -----------------------------------------------------------------------------

hr {
    display: block;
    height: 1px;
	background: $color-gray;
    border: 0;
    margin: 1em 0;
    padding: 0;
    box-sizing: content-box;
}


// Container for fixed layouts
// -----------------------------------------------------------------------------

.container {
	margin: 0 auto;
	padding: 1em;
	box-sizing: border-box;
	
	// Responsiveness
	@each $breakpoint in $breakpoints {
		@media (min-width: #{nth($breakpoint, 2)}) {
			width: #{nth($breakpoint, 4)};
		}
	}
}