//
// Various Utilities
// -----------------------------------------------------------------------------


// Floats
// -----------------------------------------------------------------------------

@each $float in "left", "right" {
  .float-#{$float} {
    float: #{$float};
  }
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


// Container for fixed layouts
// -----------------------------------------------------------------------------

.container {
  margin: 0 auto;
  padding: 1rem;

  // Responsiveness
  @each $breakpoint in $breakpoints {
    @media (min-width: #{nth($breakpoint, 2)}) {
      width: #{nth($breakpoint, 4)};
    }
  }
}


// Various
// -----------------------------------------------------------------------------

// Disabled elements
.disabled, [disabled], [readonly] {
  pointer-events: none;
  opacity: .7;
}

// Adjust box-sizing
*, *:before, *:after, *::before, *::after {
  box-sizing: border-box;
}

// Disable pointer events on scroll
// (http://www.thecssninja.com/javascript/pointer-events-60fps)
.c-hover-disable,
.c-hover-disable * {
  pointer-events: none !important;
}
