//
// Various Utilities
// -----------------------------------------------------------------------------


// Floats
// -----------------------------------------------------------------------------

@each $float in "left", "right" {
	.float-#{$float} {
		float: #{$float};
	}
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


// Image-replaced text
// -----------------------------------------------------------------------------

.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


// Container for fixed layouts
// -----------------------------------------------------------------------------

.container {
	margin: 0 auto;
	padding: 1em;
	box-sizing: border-box;
	
	// Responsiveness
	@each $breakpoint in $breakpoints {
		@media (min-width: #{nth($breakpoint, 2)}) {
			width: #{nth($breakpoint, 4)};
		}
	}
}


// Disabled elements
// -----------------------------------------------------------------------------

.disabled, [disabled] {
	pointer-events: none;
	opacity: .7;
}


// Box-model
// -----------------------------------------------------------------------------

*, *:before, *:after, *::before, *::after {
	box-sizing: border-box;
}