//
// Customizable Variables
// -----------------------------------------------------------------------------


// Colors
// -----------------------------------------------------------------------------

// Gray colors
$color-gray-darker:     lighten(#000, 13.5%);
$color-gray-dark:       lighten(#000, 20%);
$color-gray:            lighten(#000, 33.5%);
$color-gray-light:      lighten(#000, 60%);
$color-gray-lighter:    lighten(#000, 93.5%);

// Brand colors
$color-brand-primary:   #2980b9;

// Layout colors
$color-background:      #fff;
$color-text:            $color-gray-dark;
$color-selection:       lighten($color-brand-primary, 50%);

// Colors for batch-creating different elements
$colors: (
  ('primary', $color-brand-primary, $color-background),
  ('success', #27ae60,              $color-background),
  ('info',    #3498db,              $color-background),
  ('warning', #f39c12,              $color-background),
  ('danger',  #c0392b,              $color-background),
  ('muted',   $color-gray-light,    $color-background)
);


// Responsiveness
// -----------------------------------------------------------------------------

// Screen size presets (name, breakpoint, base-factor, container-width)
$breakpoints:
  'xs' 30em 1.05 100%,
  'sm' 48em 1.10 100%,
  'md' 62em 1.15 40rem, // 45rem
  'lg' 75em 1.20 58rem, // 70rem
  'xl' 90em 1.30 65rem; // 85rem


// Elements
// -----------------------------------------------------------------------------

// Mark
$mark-color-background:   $color-brand-primary;
$mark-color-font:         #fff;

// Anchor
$link-color:              $color-brand-primary;

// Horizontal rule
$hr-color:                $color-gray;

// Quotes
$blockquote-color-border: $color-gray-darker;
$q-quotes: (
    (fr, '«' '»' '“' '”'),
    (de, '„' '“' '‚' '‘'),
    (ja, '「' '」' '『' '』')
  );

// Lists
$list-inline-padding:     1em;
$list-aligned-breakpoint: get($breakpoints, 'sm');

// Pre
$pre-lines:               10;


// Typography
// -----------------------------------------------------------------------------

// Font families presets
$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, 'Times New Roman', Times, serif;
$font-family-monospace:  Monaco, Menlo, Consolas, 'Courier New', monospace;

// Specific families
$font-family:            $font-family-sans-serif;
$font-heading-family:    $font-family;

// Central font-size / line-height
$font-size:              .9em;
$line-height:            1.7;

// Heading properties
$font-heading-sizes:     2.65rem, 2.22rem, 1.71rem, 1.24rem, 1.20rem, 1.03rem;
$font-heading-margin:    .5rem;
$font-heading-weight:    700;


// Various
// -----------------------------------------------------------------------------

// Central animation specification
$animation-spec: .3s ease-out;


// Grid
// -----------------------------------------------------------------------------

$grid-gutter:  .5rem;
$grid-columns: 2, 3, 4, 5, 6, 12;


// Buttons
// -----------------------------------------------------------------------------

$button-sizes: (
  ('lg', 1.2em),
  ('sm', .9em),
  ('xs', .75em)
);


// Tables
// -----------------------------------------------------------------------------

$table-padding:               .4em;
$table-responsive-breakpoint: get($breakpoints, 'sm');


// Forms
// -----------------------------------------------------------------------------

$form-responsive-breakpoint: $table-responsive-breakpoint;
$form-input-sizes:           $button-sizes;
$form-input-required-color:  get($colors, 'danger');
